<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="UTF-8" name="viewport"
	content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css"></link>

<script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<title>Vagas</title>
</head>
<body>
	<div th:replace="fragments/header :: header">		
	</div>
	
	<div class="container">		

		<div class="container">
			<h4>Sucesso!</h4>
		</div>
		<div class="container">
			<h3>Veiculo inserido com sucesso!</h3>
			<label th:text="${veiculo.placa}"> </label>
		</div>

		<a href="/admin">Voltar</a>
	</div>	

</body>
</html>