<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="UTF-8" name="viewport"
	content="width=device-width, initial-scale=1.0">

<link rel="stylesheet"
	href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css"></link>

<script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<title>Faturamento</title>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<br />
		<h1>Faturamento</h1>
		<table class="table table-striped table-hover table-sm">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Funcionario</th>
					<th scope="col">Veiculo</th>
					<th scope="col">Vaga</th>
					<th scope="col">Valor</th>
					<th scope="col">Data Pagamento</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="fat : *{faturamentos}">
					<td th:text="${fat.idfaturamento}" />
					<td th:text="${fat.f.nome}" />
					<td th:text="${fat.veiculo.placa}" />
					<td th:text="${fat.vaga.numero} + ${fat.vaga.setor}" />
					<td th:text="${fat.valor}" />
					<td th:text="${fat.dataHoraPagamento}" />
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>